h2{
    background-color: #9C93FB;
    padding: 2%;
    margin: 1%;
    border-radius: 2%;
}

li{
    background-color: #9aa6f78d;
    padding: 1%;
    margin: 1%;
    border-radius: 2%;
}

#qBlock{
    margin-bottom: 2%;
}